@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@font-face {
	font-family: 'Permanent Marker';
	src: url("../_fonts/bubblegum-sans-regular.otf");
}
body {
	font-family: Arial, sans-serif;
	background-color: #dddddd;
	color: rgba(50,0,0,1);
}
